* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Arial";
}

html,
body,
#root {
  height: 100%;
}

body {
  font-size: 1rem;
  background-color: #fafafa;
}

button {
  cursor: pointer;
}
